<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="CurrencyConvertorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CurrencyConvertorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://venus.eas.asu.edu/WSRepository/Services/Stockquote/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServiceReference1.IService" name="BasicHttpBinding_IService" />
            <endpoint address="http://venus.eas.asu.edu/WSRepository/Services/EncryptionWcf/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference2.IService" name="BasicHttpBinding_IService1" />
            <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
                binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
                contract="ServiceReference3.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
            <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
                binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
                contract="ServiceReference3.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />
        </client>
    </system.serviceModel>
</configuration>